[color]
  diff = auto
  status = auto
  branch = auto
[user]
  name = Lucas Burns
  email = burnsac@me.com
  signingkey = C011CBEF6628B679
# signingkey = E93ACCAAAEB024788C106EDEC011CBEF6628B679
[alias]
  a = add
  addurl = remote set-url --add origin
  amend = commit --amend --reuse-message=HEAD
  b = branch
  c = commit
  cl = clone
  cm = commit -m
  co = checkout
  csm = commit -S -m
  cs = commit -S
  d = diff
  dc = diff --cached
  l = log -p
  lc = log ORIG_HEAD.. --stat --no-merges
  lo = log --oneline --decorate --stat --graph
  lp = log --graph --pretty=format:'%Cred%h%Creset %Cblue%an%Creset: %s%Creset%C(yellow)%d%Creset %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
  lg = log --pretty='format:%h %G? %aN  %s'
  lss = log --show-signature
  pl = pull
  pa = !git remote | xargs -L1 git push --all
  ps = push
  pom = push origin master
  psf = push --force
  rao = remote add origin
  rmc = rm --cached
  s = status -sb
  st = status
  sh = stash
  shp = stash pop
  tr = ls-tree -r master --name-only
  trr = !git ls-tree -r master --name-only | as-tree --color always
  utr = ls-files --other
  vd = difftool --tool=vimdiff --no-prompt
  vdc = difftool --tool=vimdiff --no-prompt --cached
  hist = log --pretty=format:"%h%Cred %ad%Cgreen | %s%C(yellow)%d%C(magenta) [%an%C(blue)]" --graph --date=short
  chg = !git changelog -x > CHANGELOG.md
  fst = !fstat
  fad = !fadd
  fun = !funtrack
[blame "gpg"]
  texconv = gpg --no-tty --decrypt --quiet
[core]
  autocrlf = input
  excludesfile = ~/.config/git/gitignore_global
  pager = delta
[diff "gpg"]
  texconv = gpg --no-tty --decrypt --quiet
[filter "lfs"]
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
[credential]
  helper = osxkeychain
[init]
  defaultBranch = master
[commit]
  gpgsign = true
  template = ~/.config/git/gitmessage
[gpg]
  program = /usr/local/bin/gpg
[help]
  autocorrect = 1
[pull]
  rebase = false
[delta]
  features = side-by-side unobstrusive-line-numbers decorations
  whitespace-error-style = 22 reverse
  syntax-theme = KimbieDark
  line-numbers-left-format = ""
  line-numbers-right-format = "│ "
# plus-style = "syntax #088649"
# plus-emph-style = "syntax #088649"
# minus-style = syntax "#7E5053"
# minus-empty-line-marker-style = "syntax #7E5053"
[delta "decorations"]
  commit-decoration-style = bold magenta box ul
  file-style = bold magenta ul
  file-decoration-style = none
  hunk-header-decoration-style = red box ul
[delta "unobstrusive-line-numbers"]
  line-numbers-left-format = "{nm:>4}┊"
  line-numbers-right-format = "{np:>4}│"
  line-numbers-left-style = white
  line-numbers-right-style = white
  line-numbers-minus-style = 124
  line-numbers-plus-style = 28
[interactive]
  diffFilter = delta --color-only
