[user]
	name = Lucas Burns
	email = burnsac@me.com
	signingKey = E93ACCAAAEB024788C106EDEC011CBEF6628B679
[alias]
	a = add
	addurl = remote set-url --add origin
	ammend = commit --amend --reuse-message=HEAD
	b = branch
	c = commit
	cl = clone
	cm = commit -m
	co = checkout
	csm = commit -S -m
	d = diff
	dc = diff --cached
	l = log -p
	lp = log --graph --pretty=format:'%Cred%h%Creset %Cblue%an%Creset: %s%Creset%C(yellow)%d%Creset %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
	lg = log --pretty='format:%h %G? %aN  %s'
	lss = log --show-signature
	pl = pull
  ps = push
  pom = push origin master
	psf = push --force
  rao = remote add origin
  rmc = rm --cached
	s = status --short
	sh = stash
	shp = stash pop
	st = status
	tr = ls-tree -r master --name-only
	vd = difftool --tool=vimdiff --no-prompt
    vdc = difftool --tool=vimdiff --no-prompt --cached
[core]
	autocrlf = input
	excludesfile = /Users/lucasburns/.gitignore_global
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[credential]
	helper = osxkeychain
[init]
	defaultBranch = master
[commit]
	gpgsign = true
[gpg]
	program = /usr/local/bin/gpg
[help]
	autocorrect = 1
[pull]
	rebase = false
